.supportDropdown {
  display: inline-block;
  position: relative;
}

.supportDropBtn {
  background-color: var(--ifm-color-secondary);
  border: #afafaf 1px solid;
  border-radius: var(--ifm-badge-border-radius);
  color: #505050;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  min-width: 140px;
  padding: 6px 12px;
  text-align: center;
  z-index: 1;
}

.supportDropdown:hover .supportDropBtn {
  border-radius: var(--ifm-badge-border-radius);
}

.supportDropdownContent {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  color: var(--ifm-color-emphasis-700);
  display: block;
  font-size: 14px;
  min-width: 215px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.supportDropdownContent a {
  color: black;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.supportDropdownContent a:hover {
  background-color: var(--ifm-dropdown-hover-background-color);
}
