.supportDropdown {
  display: inline-block;
  position: relative;
}

.supportDropBtn {
  align-items: center;
  background-color: var(--ifm-color-secondary);
  border: #afafaf 1px solid;
  border-radius: var(--ifm-badge-border-radius);
  color: #505050;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  min-width: 150px;
  padding: 6px 12px;
  text-align: left;
  z-index: 1;
}

.supportDropdown:hover .supportDropBtn {
  border-radius: var(--ifm-badge-border-radius);
}

.supportDropdownContent {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  color: var(--ifm-color-emphasis-700);
  display: block;
  font-size: 14px;
  min-width: 265px;
  position: absolute;
  right: 0;
  z-index: 1;
}

/* Support dropdown button for mobile screens. */
@media (max-width: 996px) { /* Adjust breakpoint if needed. */
  .supportDropBtn {
    font-size: 15px;
  }
  .supportDropdownContent {
    font-size: 15px;
    left: 0;
    min-width: 320px;
  }
}

.supportDropdownContent a {
  color: black;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.supportDropdownContent a:hover {
  background-color: var(--ifm-dropdown-hover-background-color);
}

html[data-theme="dark"] .supportDropBtn {
  background-color: #505050;
  border: #6B7280 1px solid;
  color: #f9f9f9;
}

html[data-theme="dark"] .supportDropdownContent {
  background-color: #505050;

  a {
    color: #f9f9f9;
  }
}
